@tailwind base;
@tailwind components;
@tailwind utilities;

.overflow-scroll::-webkit-scrollbar {
    width: thin; /* Width of the scrollbar */
  }

  .overflow-scroll::-webkit-scrollbar-thumb {
    background-color: #fff; /* Color of the thumb (slider) */
    border-radius: 5px; /* Rounded corners of the thumb */
    width: 3px;
  }

  .overflow-scroll::-webkit-scrollbar-track {
    background-color: #f3f4f6; /* Color of the track (background) */
    
  }


.card {
  /* border:1px solid red; */
  border-radius: 5px;
  /* background-color: #FBF7FB; */

  text-align: center;
  padding: 25px 15px;
  overflow: hidden;
  font-size: 14px;
  font-weight: 500;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.card .imgBox {
  max-height: 210px;
  max-width: 230px;
  object-fit: contain;
  width: inherit;
  height: 180px;
  overflow: hidden;
}

.categoryList {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
   background:#fffefe;
    z-index: 100;
}
.addCartBtn {
  padding: 0.4rem 0.5rem;
  color: white;
  background: #2874f0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  border: none;
  border-radius: 2px ;
  outline: none;
}

.cart-page {
  align-items: flex-start;
  
  
}
.cartItem {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin: auto;
  /* margin-top: 10px; */
}

.cartItem-left {
  width: 60%;
  min-width: 400px;
}
.cartImg {
  max-width: 150px;
  max-height: 130px;
  height: 130px;
  object-fit: cover;
}

.cartImg img {
  height: inherit;
  width: inherit;
}

.singleItem {
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  align-items: center;
  padding-top: 5rem;
  background: #f8f8ff;
}
.singleItem .left {
  min-width: 300px;
  width: 40%;
  height: 450px;


  object-fit: cover;
}
.singleItem .right {
  min-width: 420px;
  width: 40%;

  height: 450px;
}
.checkout{
    position: sticky;
    top:50px;
   }   


  @media screen and (max-width:450px) {
    .homeIcon{
        display: none;
    }
  } 

@media screen and (max-width:905px) {
   .checkout{
    position:static;
   }   
}

@media screen and (max-width: 750px) {
  .singleItem .right {
    margin-left: 5px;
    min-width: 400px;
    width:50%
  }
  .singleItem .left {
    width:90%;
  }
  .singleItem .right {
    width:90%;
  }

  .singleItem{
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    overflow-x: scroll;
    
  }
}

@media screen and (max-width: 410px) {
    .singleItem .right {
       
        min-width: 320px;
      }
}
@media screen and (max-width: 412px) {
    .singleItem .right .verified{
       
        display: none;
        color: red;
      }
}
@media screen and (min-width: 749px) {
    .singleItem .left {
       margin-right: 20px;
      }
      
}
@media screen and (max-width: 500px) {
    .singleItem .right .singlePage-btn{
        gap: 1rem;
      }
}
@media screen and (max-width: 900px) {
  .cart-page {
    align-items: center;
    flex-direction: column-reverse;
    
  }
 
}
@media screen and (max-width: 750px) {
  
  .cartItem{
    justify-content: center;
  }
  .cartItem-left {
    width: 100%;
    min-width: 400px;
  }
}
@media screen and (max-width:450px) {
  .cartImg{
       margin-left: 50px;
  }
  .singlePage-btn {
    padding-bottom: 1.2rem;
  }
}
@media screen and (max-width:350px) {
  .cartImg{
       margin-left: 80px;
  }
}
